body {
    background: #D0D2D5 !important;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    z-index: 900 !important;  
}

.form-control {
    padding: 0px !important;
}

input
{
    padding: 2px 2px !important;
}

.ui-state-default {
    -moz-box-shadow: none !important;
    /* -webkit-box-shadow: inset 0 1px 0 #fff; */
    /* box-shadow: inset 0 1px 0 #fff; */
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #a8a8a8;
    text-shadow: 0 0px 0 rgba(255,255,255,0.7) !important;
}

.badge-primary
{
    background-color: #5bc0de ;
}
.badge-red
{
    background-color: #d9534f ;
}
.badge-green
{
    background-color: #5cb85c ;
}
.badge-yellow
{
    background: #FCB322 ;
}

.panel-message {
    width: calc(100% - 20px);
    background: #A8DEE9;
}

.panel-my-message {
    margin-left: 20px;
    background: #EEE;
    border: 1px solid grey;
}